@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&family=Roboto+Slab&display=swap");
@font-face {
  font-family: "mm";
  font-weight: normal;
  src: url(../fonts/MyanmarSquare.ttf);
}
@font-face {
  font-family: "mm";
  font-weight: lighter;
  src: url(../fonts/MyanmarSquareLight.ttf);
}
:root {
  --primary: #46c3db;
  --secondary: #707070;
  --text-light: #ffffff;
  --text-dark: #000000;
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "Noto Sans", "sans-serif", "mm";
}
.divider {
  height: 5px;
  background-color: var(--secondary);
  /* margin-top: 10px; */
}
.app {
  width: 700px;
  margin: 100px auto;
}
.output {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand-container {
  display: flex;
  align-items: center;
}
.brand-logo {
  width: 60px;
  margin-right: 5px;
}
.brand {
  font-weight: bold;
  font-size: 30px;
  color: var(--secondary);
}
.output-container {
}
.output {
  font-weight: bold;
  font-size: 40px;
  color: var(--secondary);
  margin-top: 22px;
}
